# See https://help.github.com/articles/ignoring-files/

# === Dependencies ===
/node_modules
apps/**/node_modules

# === Yarn ===
apps/**/.pnp
apps/**/.pnp.*
apps/**/.yarn/*
!apps/**/.yarn/patches
!apps/**/.yarn/plugins
!apps/**/.yarn/releases
!apps/**/.yarn/versions

# === Testing ===
apps/**/coverage

# === Next.js ===
apps/**/.next/
apps/**/out/

# === Build ===
apps/**/build

# === TypeScript ===
apps/**/*.tsbuildinfo
apps/**/next-env.d.ts

# === Env ===
.env*

# === Misc ===
apps/**/.DS_Store
apps/**/*.pem
apps/**/.vercel

# === Debug logs ===
apps/**/npm-debug.log*
apps/**/yarn-debug.log*
apps/**/yarn-error.log*
apps/**/.pnpm-debug.log*